<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="/events">Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/events">Home <span class="sr-only">(current)</span></a>
      </li>
      {# <li class="nav-item">
        <a class="nav-link" href="{{ path('events_show', {'id': event.id}) }}">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('events_edit') }}">Edit Event</a>
      </li> #}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('events_new') }}">Add Event</a>
      </li>
      {# <li class="nav-item">
        <a class="nav-link" href="{{ include('events/_delete_form.html.twig') }}">Delete Event</a>
      </li> #}
    </ul>
  </div>
</nav>


        {% block body %}{% endblock %}
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
