{% extends 'base.html.twig' %}

{% block body %}

  
  {% for event in events %} {# making a loop in twig inside the variable todos #}
   
       
            <div class="card">
            <h5 class="card-header">{{ event.eventname }}</h5>
            <div class="card-body">
            <img src="{{ event.eventimage }}" class="card-img-top" alt="...">
            <h5 class="card-title">{{event.eventdatestarttime}}</h5>
            <p class="card-text">{{ event.eventdescription }}</p>
            <a href="details" class="btn btn-primary">View</a>
            </div>
            </div>
            <tr>
           
        

</table>
{% endfor %}
    {% endblock %}
